<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <style>
        body {
            background-color: 	#d4ffea;
        }
        h1 {
            font-weight: bold;
        }

        input {
            border-radius: 10;
        }

    </style>
</head>
<body>
    <h1>Enter Your Name</h1>
    <form action="/submit" method="post">
        <input type="text" name="name" required placeholder="Enter your name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>