<!DOCTYPE html>
<html>
<head>
    <title>Hobbies</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: 	#eecbff;
        }
    </style>
</head>
<body>
    <h1>My Name is Robin Pabbi. My hobbies are as below:</h1>
    <ul>
        <li>Coding</li>
        <li>Learning new Technology</li>
        <li>Playing cricket</li>
        <li>Gardening</li>
    </ul>
    <a href="/">Go to My home page</a>
    <a href="/profile">Go to My Profile</a>
</body>
</html>