<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color:#dcd6ff;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>
    <p>I am a seasoned full-stack developer with 13 years of experience in the finance and telecom sectors. My expertise lies in creating end-to-end solutions that meet the highest industry standards.</p>

    <p>I excel in problem-solving and have a deep understanding of software architecture and design patterns. With a track record of leading successful projects and implementing robust security measures, I bring a wealth of expertise to any team.</p>
    <a href="/">Go back to Home</a>
    <a href="/hobbies">Go to Hobbies</a>
</body>
</html>