<!doctype html>
<html>
<head>
    <title>Real-Time Data Update</title>
</head>
<body>
    <h1>Real-Time Data Update</h1>
    <div id="data_display"></div>

    <input id="data_to_update" autocomplete="off">
    <button onclick="sendMessage()">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('on_data_update', function(data) {
            var data_display = document.getElementById('data_display');
            data_display.innerHTML = 'Data: ' + data;
        });

        function sendMessage() {
            var message_input = document.getElementById('data_to_update');
            socket.emit('on_data_update', message_input.value);
            message_input.value = '';
        }
    </script>
</body>
</html>
